#nav-container{
    margin: auto; 
   /* border: 1px solid rgb(216, 20, 20);*/
    margin: 10px 20px 30px 20px;
}
.nav-title-box{
    border: 1px solid black;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 10px;
    margin: auto;
    height: 90px; 
}
.nav-title-list{
    font-size: 30px;
    font-weight: 600;
    list-style: none ;
}
.auth-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.auth-controls button {
  font-size: 18px;
  cursor: pointer;
}
